In [1]:
import pandas as pd
import numpy as np
import  matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df_trash = pd.read_csv('../data/trash_hauler_report_with_lat_lng.csv')
df_trash.head()

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE
0,25270,11/1/2017,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207.0,RED RIVER,3205,2.0,1727970.412,686779.4781,-86.815392,36.217292
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1721259.366,685444.7996,-86.838103,36.213470
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1707026.753,659887.4716,-86.885562,36.142923
3,25307,11/1/2017,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207.0,WASTE IND,2206,2.0,1735691.771,685027.2459,-86.789170,36.212652
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1710185.772,664205.1011,-86.874995,36.154861

In [9]:
df_trash['Trash Hauler'].unique()

array(['RED RIVER', 'WASTE IND', 'METRO', nan, 'Metro'], dtype=object)

In [42]:
# Filters only 'RED RIVER' Trash Hauler
df_red_river = df_trash[df_trash['Trash Hauler'] == 'RED RIVER']
df_red_river.head()

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE
0,25270,11/1/2017,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207.0,RED RIVER,3205,2.0,1727970.412,686779.4781,-86.815392,36.217292
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1721259.366,685444.7996,-86.838103,36.213470
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1707026.753,659887.4716,-86.885562,36.142923
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1710185.772,664205.1011,-86.874995,36.154861
5,25317,11/1/2017,Trash Collection Complaint,left trash cart in middle of driveway instead ...,3602 floral dr,37211.0,RED RIVER,4304,16.0,1751660.164,643215.2011,-86.733980,36.098140

In [43]:
df_trash['Request'].value_counts()

Request
Trash - Curbside/Alley Missed Pickup    15028
Trash - Backdoor                         2629
Trash Collection Complaint               2312
Damage to Property                        257
Name: count, dtype: int64

In [45]:
df_missed_pickup = df_red_river[df_red_river['Request'].isin(['Trash - Curbside/Alley Missed Pickup', 'Trash - Backdoor', 'Trash Collection Complaint'])]
df_missed_pickup.head()

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE
0,25270,11/1/2017,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207.0,RED RIVER,3205,2.0,1727970.412,686779.4781,-86.815392,36.217292
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1721259.366,685444.7996,-86.838103,36.213470
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1707026.753,659887.4716,-86.885562,36.142923
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1710185.772,664205.1011,-86.874995,36.154861
5,25317,11/1/2017,Trash Collection Complaint,left trash cart in middle of driveway instead ...,3602 floral dr,37211.0,RED RIVER,4304,16.0,1751660.164,643215.2011,-86.733980,36.098140

In [106]:
df_value_count = df_missed_pickup[['Trash Hauler','Incident Address']].value_counts().reset_index()
df_value_count.head()

  Trash Hauler                                   Incident Address  count
0    RED RIVER  12546 Old Hickory Blvd, Nashville, TN 37013, U...     19
1    RED RIVER                                  3710 N NATCHEZ CT     19
2    RED RIVER  6007 Obrien Ave, Nashville, TN 37209, United S...     18
3    RED RIVER                           5135 Hickory Hollow Pkwy     18
4    RED RIVER  802 Crescent Rd, Nashville, TN 37205, United S...     17

In [113]:
df_missed_2plus = df_value_count[df_value_count['count']>1]
df_missed_2plus['fine']= (df_missed_2plus['count']-1) *200
#df_missed_2plus.head()
df_missed_2plus.groupby('Trash Hauler')['fine'].sum()

C:\Users\jinor\AppData\Local\Temp\ipykernel_28520\940329001.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missed_2plus['fine']= (df_missed_2plus['count']-1) *200

Trash Hauler
RED RIVER    844400
Name: fine, dtype: int64

### ⦁	What other types of complaints are there?

In [54]:
df_trash['Request'].unique()

array(['Trash - Backdoor', 'Trash - Curbside/Alley Missed Pickup',
       'Trash Collection Complaint', 'Damage to Property'], dtype=object)

### ⦁	How do metro crews compare to the contractor's performance?

In [55]:
df_trash.groupby('Trash Hauler')['Request Number'].count()

Trash Hauler
METRO         3512
Metro           68
RED RIVER    14395
WASTE IND     1350
Name: Request Number, dtype: int64

In [66]:
df_summary = df_trash.groupby('Trash Hauler').agg(total_request= ('Request Number', 'count'),total_routes=('Trash Route','nunique') )
df_summary['request_per_route'] = (df_summary['total_request']/df_summary['total_routes']).round(decimals = 0).astype(int)
df_summary.head()

              total_request  total_routes  request_per_route
Trash Hauler
METRO                  3512            35                100
Metro                    68             1                 68
RED RIVER             14395           126                114
WASTE IND              1350            16                 84

### ⦁	How much does each trash hauler owe?

In [98]:
df_hauler_fines = df_trash[df_trash['Request'].isin(['Trash - Curbside/Alley Missed Pickup', 'Trash - Backdoor', 'Trash Collection Complaint'])]
df_address_count = df_hauler_fines.groupby(['Trash Hauler','Incident Address']).agg(total_count= ('Request Number','count')).reset_index()
df_address_count_2plus = df_address_count[df_address_count['total_count']>1]
df_address_count_2plus['total_fine']=(df_address_count['total_count']-1) *200
df_address_grouped= df_address_count_2plus.groupby('Trash Hauler')['total_fine'].sum().reset_index()
df_address_grouped.head()

C:\Users\jinor\AppData\Local\Temp\ipykernel_28520\3293062537.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_address_count_2plus['total_fine']=(df_address_count['total_count']-1) *200

  Trash Hauler  total_fine
0        METRO      192200
1        Metro        3200
2    RED RIVER      844400
3    WASTE IND       69400

### ⦁	What were to total missed pickup by route?

In [ ]:
df_missed_trash= df_trash[df_trash['Request'].isin(['Trash - Curbside/Alley Missed Pickup', 'Trash - Backdoor', 'Trash Collection Complaint']])]

In [5]:
# Missed Trash Pickups
# In this data question you will be working data of service request related to missed trash pickups from hubNashville, Metro Nashville government's comprehensive customer service system (https://hub.nashville.gov).
# As part of Metro's contract with Red River Waste Solutions, failure to remedy an action or inaction will result in liquidated damages. One category of liquidated damages is related to chronic problems in any category of service at the same premises. A chronic problem is defined as more than one missed pickup for any address. The first missed pickup will not result in a fine; however, every subsequent missed pickup will result in a $200 fine.
# Your job is to determine the total amount of damages due to missed pickups. Note that not all rows that you have been provided correspond to missed pickups and that you will need to ensure that you are only counting missed pickups.

# After determining the total amount of damages, you can look at other questions:

# ⦁	What other types of complaints are there?
# ⦁	Are there any geospatial analysis you can do?  Which visualizations can you create?
# ⦁	How do metro crews compare to the contractor's performance?
# ⦁	How much does each trash hauler owe?
# ⦁	What were to total missed pickup by route?